# Java / Maven / Gradle
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno sensibles
.env
!.env.example

# Logs
*.log
